/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 268px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  padding-left: 13px;
  padding-right: 10px;

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 2px;
}

.sidenav label {
	margin: 0;
	font-weight: unset;
}

#pulsation {
	margin-left: 2.5rem;
}


.summary > dt{
	float: left;
    clear: left;
	
    width: 190px;
   
    font-weight: normal;
    color: black;
}
h2{
	text-align:center;
	font-size: 14pt;
	margin-top: 3px;
}
dl {
    border: 1.5px double #ccc;
    padding: 0.2em;
	
  }
  dt {
	
    float: left;
    clear: left;
	
    width: 100px;
   
    font-weight: normal;
    color: green;
  }
  dt::after {
    content: ":";
  }
 
  dd {
    margin: 0 0 0 100px;
    padding: 0 0 0.5em 0;
  }
td{
	color: white;
	padding: 0px;
	font-size: 12px;
	margin-bottom: 2px;
	
}
.filterTitle{
	color: white;
	font-size: 13px;
	margin-bottom: 3px;
	margin-top: 10px;
	font-weight: bold;
}
input{
	margin-bottom: 0px;
}

button{
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.nested {
  display: block;
}
.unactive {
  display: none;
}
#inpexNest{
	margin-left: 3rem;
}

td li{
	list-style-type: none;
}
